.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__logo {
  height: 65px;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
}

.main-header__logo .logo__wrapper {
  position: absolute;
  left: 20px;
}

@media (min-width: $tablet-width) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }

  .main-header__logo {
    width: unset;
    justify-content: flex-start;
    padding-left: 100px;
    margin-right: 94px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    margin-right: 543px;
  }

  .main-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 110px;
  }
}

//пример
// .header {
//   @include button-rounded;
//   background-color: $header-bg;
//   color: $header-color;

//   &::before {
//     content: "";
//   }

//   &::after {
//     content: "";
//   }

//   &:hover {}
//   &:focus {}

//   @media (min-width: 768px) {}

//   &--mobile {} // модификатор блока
// }

// .header__logo {
//   &::before {
//     content: "";
//   }

//   &::after {
//     content: "";
//   }

//   &:hover {}
//   &:focus {}

//   @media (min-width: 768px) {}

//   &--big {} // модификатор элемента
// }
