.catalog-container {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
  }
}

.catalog-container__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
  text-align: left;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 84px;
  }
}
