.example {
  background-color: $bg-basic_gray;
}

.example__wrapper {
  padding-top: 25px;
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.example__description {
  margin: 0 auto;
  //width: 280px;
  margin-bottom: 20px;
}

.example__cost {
  font-family: $secondary-font;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

// .example__cost-number {
// }


@media (min-width: $tablet-width) {
  .example__wrapper {
    width: 708px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
    width: 708px;
  }

  .example__cost {
    font-size: 20px;
    width: 174px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    width: 436px;
    display: flex;
    flex-wrap: wrap;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 146px;
  }
}
