.hero {
  position: relative;
  margin-bottom: 20px;
}

.hero__wrapper {
  background-color: $bg-basic_green;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../images/hero-background-mobile@1x.jpg");
  background-position: 50% 0;
  margin-bottom: 138px;
  min-height: 302px;
  color: $additional-color-text;
  padding-top: 27px;
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  width: 249px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.hero__slogan {
  font-family: $secondary-font;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.hero__image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hero__button-wrapper {
  padding: 0 20px;
}

.hero__choose-pr {
  display: block;
  padding: 10px 20px;
}

@media (min-width: $tablet-width) {
  .hero {
    margin-bottom: 0;
  }

  .hero__wrapper {
    color: $desktop-color-text;
    background-image: none;
    background-color: #ffffff;
    margin-bottom: 0;
    padding: 0;
  }

  .hero__title {
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0 204px 40px 90;
  }

  .hero__slogan {
    font-size: 20px;
    margin: 0 335px 50px 90px;
    width: 283px;
  }

  .hero__image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero__choose-pr {
    font-size: 20px;
    line-height: 26px;
  }

  .hero__button-wrapper {
    padding: 0;
    position: absolute;
    top: 280px;
    left: 90px;
    width: 244px;
  }
}
