.subscription {
  font-family: $secondary-font;
}

.subscription__wrapper {
  margin: 0 auto;
  width: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.subscription__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 32px;
}


.subscription__description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

// .subscription__form{

// }

.subscription-input {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  width: 280px;
  margin-bottom: 16px;
  padding: 13px;
}

.subscription__button {
  padding: 14px 82px;
  font-size: 20px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .subscription__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    width: fit-content;
  }

  .subscription__title {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 66px;
  }

  .subscription__description {
    font-size: 24px;
    line-height: 32px;
  }

  .subscription-input {
    width: 376px;
    margin: 0;
  }

  .subscription__button {
    padding: 15px 70px;
  }
}

@media (min-width: $desktop-width) {
  .subscription__title {
    font-size: 40px;
    line-height: 40px;
  }

  .subscription-input {
    width: 470px;
  }
}
