.main-footer {
  background-color: $bg-basic_gray;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.main-footer__social {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  width: 132px;
}
