.main-footer {
  background-color: $bg-basic_gray;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 66px;
  }
}

.main-footer__social {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  width: 132px;
}
